<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/img/favicon.ico">

    <title>KONI</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style/font.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='style/style.css')}}">
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='style/toastr.min.css')}}"> -->

    <script src="https://kit.fontawesome.com/43825b270f.js" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='js/showdown.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.js')}}"></script>
    <!-- <script src="{{url_for('static',filename='js/toastr.min.js')}}"></script> -->
    <script src="{{url_for('static',filename='js/index.js')}}"></script>

</head>

<body>
    
    <div class="container">
        <div class="side-nav">
            <div class="side-header">
                <div class="collapse-side new-btn cursor-pointer">
                    <i class="fa-solid fa-pen-to-square"></i>
                </div>
            </div>
            <div class="nav">
                <div class="nav-box">
                </div>
            </div>
        </div>
        
        <div class="main-container">
            <div class="scroll-box">
                <div class="main-header">
                    <div class="flex-forward">
                        <div class="collapse fold-button">
                            <i class="fa-solid fa-bars"></i>
                        </div>
                        <div class="collapse new">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </div>
                        <div class="home cursor-pointer">KONI</div>
                    </div>
                    <div class="notice cursor-pointer">logout</div>
                </div>
                <div class="main-page">
                    <div class="chat">
                        <div class="koni-output" id="222" style="display: none;"> 
                            <!-- style="display: none;" -->
                            <div class="icon-box">
                                <div class="icon">
                                    <img src="/static/img/koni.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="initial-chat">
                <div class="init-box">
                    <div class="init-logo">
                        <div class="w-150 icon ">
                            <img src="/static/img/koni.jpg" alt="">
                        </div>
                    </div>
                    <div class="init-ex-box">
                        <div class="init-ex" id="ex1">
                            <div class="init-ex-logo">
                                <i></i>
                            </div>
                            <div class="init-ex-text"></div>
                        </div>
                        <div class="init-ex" id="ex2">
                            <div class="init-ex-logo">
                                <i></i>
                            </div>
                            <div class="init-ex-text">                               
                            </div>
                        </div>
                        <div class="init-ex" id="ex3">
                            <div class="init-ex-logo">
                                <i></i>
                            </div>
                            <div class="init-ex-text"></div>
                        </div>
                        <div class="init-ex" id="ex4">
                            <div class="init-ex-logo">
                                <i></i>
                            </div>
                            <div class="init-ex-text"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-footer">
                <div class="margin-auto">
                    <div class="input-container">
                        <div class="blank"></div>
                        <div class="instruction-box">
                            <textarea id="instruction" placeholder="메시지 KONI-Llama3" rows="1" ></textarea>
                        </div>
                        <div class="btn-box">
                            <button class="btn-chat-info btn-chat" disabled>
                                <i class="fa-solid fa-arrow-up"></i>
                            </button>
                        </div>
                    </div>
                    <div class="footer-bottom">
                        <p>KONI (Korean Open Natural Intelligence), developed by KISTI</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>

</html>
